section{
    position:absolute; 
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 2;
 }
 
 .bgPulse{
     width: 100%;
     height:100%;
 }
 
 .bgPulse span {
     position: absolute;
     width: 6px;
     height: 6px;
     background: #fff;
     
 }

 .bgPulse span:nth-child(1)
 {
     background: #fff;
     border: 5px solid #fff;
     
 }

 

 .bgPulse span:nth-child(1)
 {
     top: 100%;
     left:20%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(2)
 {
     top: 80%;
     left:40%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(3)
 {
     top: 10%;
     left:65%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(4)
 {
     top: 50%;
     left:70%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(5)
 {
     top: 10%;
     left:30%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(6)
 {
     top: 90%;
     left:95%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(7)
 {
     top: 80%;
     left:5%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(8)
 {
     top: 20%;
     left:90%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(9)
 {
     top: 35%;
     left:5%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(10)
 {
     top: 65%;
     left:90%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(11)
 {
     top: 75%;
     left:85%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(12)
 {
     top: 45%;
     left:75%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(13)
 {
     top: 35%;
     left:65%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(14)
 {
     top: 25%;
     left:55%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(15)
 {
     top: 13%;
     left:40%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(16)
 {
     top: 100%;
     left:20%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(17)
 {
     top: 80%;
     left:50%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(18)
 {
     top: 10%;
     left:60%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(19)
 {
     top: 50%;
     left:70%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(20)
 {
     top: 10%;
     left:80%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(21)
 {
     top: 90%;
     left:90%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(22)
 {
     top: 80%;
     left:30%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(23)
 {
     top: 20%;
     left:20%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(24)
 {
     top: 35%;
     left:5%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(25)
 {
     top: 73%;
     left:88%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(26)
 {
     top: 63%;
     left:27%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(27)
 {
     top: 45%;
     left:75%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(28)
 {
     top: 35%;
     left:65%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(29)
 {
     top: 25%;
     left:55%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(30)
 {
     top: 15%;
     left:45%;
     animation: animate 2s linear infinite;

 }


 .bgPulse span:nth-child(31)
 {
     top: 47%;
     left:70%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(32)
 {
     top: 43%;
     left:80%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(33)
 {
     top: 38%;
     left:97%;
     animation: animate 2s linear infinite;

 }


 .bgPulse span:nth-child(34)
 {
     top: 33%;
     left:87%;
     animation: animate 3s linear infinite;

 }
 .bgPulse span:nth-child(35)
 {
     top: 27%;
     left:77%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(36)
 {
     top: 23%;
     left:67%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(37)
 {
     top: 17%;
     left:57%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(38)
 {
     top: 13%;
     left:47%;
     animation: animate 4s linear infinite;

 }


 .bgPulse span:nth-child(39)
 {
     top: 7%;
     left:37%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(40)
 {
     top: 3%;
     left:27%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(41)
 {
     top: 15%;
     right:45%;
     animation: animate 2s linear infinite;

 }


 .bgPulse span:nth-child(42)
 {
     top: 47%;
     right:70%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(43)
 {
     top: 43%;
     right:80%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(44)
 {
     top: 38%;
     right:97%;
     animation: animate 2s linear infinite;

 }


 .bgPulse span:nth-child(45)
 {
     top: 33%;
     right:87%;
     animation: animate 3s linear infinite;

 }
 .bgPulse span:nth-child(46)
 {
     top: 27%;
     right:77%;
     animation: animate 4s linear infinite;

 }

 .bgPulse span:nth-child(47)
 {
     top: 23%;
     right:67%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(48)
 {
     top: 17%;
     right:57%;
     animation: animate 3s linear infinite;

 }

 .bgPulse span:nth-child(49)
 {
     top: 13%;
     right:47%;
     animation: animate 4s linear infinite;

 }


 .bgPulse span:nth-child(50)
 {
     top: 7%;
     right:37%;
     animation: animate 2s linear infinite;

 }

 .bgPulse span:nth-child(51)
 {
     top: 3%;
     right:27%;
     animation: animate 3s linear infinite;

 }



@keyframes animate
{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%
    {
        transform: scale(1) translateY(-100px) rotate(360deg);
        opacity: 0;
    }


}



.container {
width: 100%;
height: 100vh;

background-size: cover;
overflow: hidden;
position: relative;
}


.banner {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1 {
font-size: 70px;
color: #fff;
font-weight: 300;
margin-bottom: 30px;
animation-name: moveToLeft;
animation-duration: 2s;
}

.banner span {
text-transform: lowercase;
font-weight: 700;
color: #fff;
}

.banner p {
    font-size: 50px;
    font-weight: 300;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
    animation-name: moveToRight;
    animation-duration: 2s;
}

.banner button {
    width: 180px;
    padding: 12px;
    margin: 20px;
    border:2px solid #eee;
    border-radius: 50px;
    font-size: 18px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}


.btn-right {
    background-color: #eee;
    color: rgb(12, 2, 2);
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
    }

@keyframes moveToLeft {
0% {
    transform: translateX(120px);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}

}

@keyframes moveToRight {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
    }

    @keyframes animateBtn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }