* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica, sans-serif;

}

:root {
    --bgcolour: grey;
}

body {
    background-image: url("images/kunj-parekh-3s3JPEXRzUg-unsplash.jpg");
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 1fr 30vh;
    gap: 1rem;

}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 5rem;
}


main {
   grid-column-start: 1;
   grid-row-start: 2;
   margin-left: 5rem;

}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 5rem;
}


li button {
    cursor: url(images/duster.png), auto;
}

li {
    display: flex;
    list-style-type: none;
    margin: 1rem 0 0 0;
    border: 1px solid;
    padding: 0.5rem;
    cursor: url(images/duster.png), auto;
    backdrop-filter: brightness(170%);
}

p {
    margin: 0.5rem 0 1rem 0.5rem;
}

h1 {
    margin: 1rem 0 1rem 0;
    font-size: 4rem;
}

button {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
}

input {
    padding: 0.5rem;
}


.mark {
    background-color:black;
}

.unmark {
    background-color:white;
}

.hidden {
    display: none;
}

.clean {
    background-color: snow;
}

#trash-can {
    width: 3rem;
    margin: 1rem 0 0 0;
}





@media screen and (max-width: 479px) {
    /* start of phone styles */
    main {
        max-width: 479px;
        background-color: pink;
    }
    h1, h2 {
        text-align: center;
    }
    }