* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica, sans-serif;

}

:root {
    --bgcolour: grey;
}

body {
    display: grid;
    background-image: url("images/kunj-parekh-3s3JPEXRzUg-unsplash.jpg");
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 1fr 30vh;
    gap: 1rem;

}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 5rem;
}

main {
    grid-column-start: 1;

    grid-row-start: 2;
    margin-left: 5rem;
}


footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 5rem;
}




li button {
    cursor: url(images/duster.png), auto;
}

li {
    display: flex; 
    list-style-type: none;
    margin: 1rem 0 0 0;
    border: 1px solid;
    padding: 0.5rem;
    backdrop-filter: brightness(170%);
}

p {
    margin: 0.5rem 0 1rem 0.5rem;
}

.tracker-container {

    grid-column-start: 3;
    grid-row-start: 2;
/*     display: flex; */
/*     flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 20vw;
  }
  
  .tracker-list {
    /* min-width: 30%;*/
/*     min-width: 50vw; */
    list-style: none;
    color: black;
    font-size: 1rem;
    overflow: scroll;
    max-height: 200px;
  }
  
  .color {
    color: black;
  }
  
  span {
    font-size: 20px;
  }
  

h1 {
    margin: 1rem 0 1rem 0;
    font-size: 4rem;
}

button {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
}

input {
    padding: 0.5rem;
}


.mark {
    background-color:black;
}

.unmark {
    background-color:white;
}

.hidden {
    display: none;
}

.clean {
    background-image: url("images/victor-garcia-0yL6nXhn0pI-unsplash.jpg");
    background-size: cover;
}

#trash-can {
    width: 3rem;
    margin: 1rem 0 0 0;
}



.spideweb {
    position: relative;

}
.spiderweb img {
    width: 30vw;
    position: absolute;
    top: 0px;
    right: 0px;
}

.spider {
    visibility: hidden;
}



.animate__slideInDown {
    --animate-delay: 0.9s;
}

.animate__slideOutUp {
    --animate-delay: 0.9s;

}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    main {
        max-width: 479px;

    }
    h1, h2 {
        text-align: center;
    }
    }